/* Meyer's reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Meyer's reset end */

html,
body {
    height: 100%;
    width: 100%;
}

body {
    --bg: #d8f3dc;
    --theme-1: #95d5b2;
    --theme-2: #52b788;
    --text-theme: #1b4332;
    background: var(--bg);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

header {
    background: #b7e4c7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 15px;
    min-height: 5%;
    font-size: 16px;
    padding-top: 0px;
    border-bottom: 2px solid var(--theme-2);
}

header input {
    border: 0px;
    /* color: white; */
    width: clamp(100px, 40vw, 250px);
    font-size: 1.1em;
    text-align: center;
    padding: 0px;
    outline: none;
    background: none;
    filter: grayscale(100%);
    background: none;
    color: var(--text-theme);
}

header > div {
    display: flex;
    align-items: center;
    flex-direction: column;
}
header img {
    --size: 50px;

    height: var(--size);
    width: var(--size);
}

form > button {
    border: 0px;
    background: none;
    font-size: 1.1em;
    color: var(--text-theme);
    border-left: 2px solid var(--theme-2);
}

form {
    display: flex;
    background: var(--theme-1);
    border-radius: 5px;
    padding: 0px 4px;
    height: 25px;
    border: 2px solid var(--theme-2);
}

.tempmode {
    background: #dee2e6;
    font-size: 1.1em;
    background: var(--theme-1);
    border: 2px solid var(--theme-2);
    border-radius: 5px;
    color: var(--text-theme);
}

.search {
    display: grid;
    grid-template: 1fr 1em / 1fr;
    gap: 2px;
    align-self: last baseline;
}

.error-msg {
    font-size: 0.8em;
    padding-left: 4px;
    color: red;
}
/* https://coolors.co/palette/d8f3dc-b7e4c7-95d5b2-74c69d-52b788-40916c-2d6a4f-1b4332-081c15 */
