/* Meyer's reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Meyer's reset end */

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    grid-template-rows: min-content 1fr;
    --bg: #d8f3dc;
    --theme-1: #95d5b2;
    --theme-2: #52b788;
    --text-theme: #1b4332;
    background: var(--bg);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

header {
    background: #b7e4c7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 15px;
    min-height: 5%;
    font-size: 16px;
    padding-top: 0px;
    border-bottom: 2px solid var(--theme-2);
}

header input {
    border: 0px;
    /* color: white; */
    width: clamp(100px, 40vw, 250px);
    font-size: 1.1em;
    text-align: center;
    padding: 0px;
    outline: none;
    background: none;
    filter: grayscale(100%);
    background: none;
    color: var(--text-theme);
}

header > div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header img {
    --size: 50px;

    height: var(--size);
    width: var(--size);
}

form > button {
    border: 0px;
    background: none;
    font-size: 1.1em;
    color: var(--text-theme);
    border-left: 2px solid var(--theme-2);
}

form {
    display: flex;
    background: var(--theme-1);
    border-radius: 5px;
    padding: 0px 4px;
    height: 25px;
    border: 2px solid var(--theme-2);
}

.tempmode {
    background: #dee2e6;
    font-size: 1.1em;
    background: var(--theme-1);
    border: 2px solid var(--theme-2);
    border-radius: 5px;
    color: var(--text-theme);
}

.search {
    display: grid;
    grid-template: 1fr 1em / 1fr;
    gap: 2px;
    align-self: last baseline;
}

.error-msg {
    font-size: 0.8em;
    padding-left: 4px;
    color: red;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #1b4332;
}

.castCont {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.location {
    flex-grow: 1;
    min-width: 250px;
    padding-top: 10px;
}

.hourlyCast {
    flex-grow: 4;
    min-width: 400px;
    flex-wrap: wrap;
}

/* location style */

.location h2,
.location h1,
.location p {
    text-align: center;
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.location > h2 {
    margin-bottom: 10px;
}
.location > h1 {
    margin: 25px 0px;
}
.location > div {
    display: flex;
    flex-direction: column;
}
.location h2 {
    font-size: 2.5em;
}

.location h1 {
    font-size: 5em;
}

main > p:first-of-type {
    text-align: center;
}

.dailyCast {
    grid-column: 1 / -1;
    margin-bottom: 30px;
}

/* Hourly forecast */

.hourlyCast {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    padding: 0px 25px;
    align-self: center;
    height: min-content;
}

.hourlyCast > div {
    display: flex;
    flex-grow: 1;
    background: var(--theme-1);
    border: 2px solid var(--theme-2);
    border-radius: 20px;
    gap: 10px;
    font-size: 1.2em;
    flex-wrap: wrap;
}
.hourlyCast > div > div {
    height: 150px;
    padding: 5px;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.hourlyCast > div > div > p:first-of-type,
.hourlyCast img {
    grid-column: 1 / -1;
    justify-self: center;
}
.hourlyCast img {
    height: 50px;
    width: 50px;
    justify-self: center;
}

/* daily forecast */

.dailyCast {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
}

.dailyCont {
    background: var(--theme-2);
    border: 2px solid var(--theme-2);
    display: flex;
    border-radius: 20px;
    width: 100%;
    justify-content: center;
    gap: 2px;
    /* flex-wrap: wrap; */
    overflow: hidden;
}
.dailyCont > div {
    flex-grow: 1;
    display: flex;
    padding: 4px;
    background: var(--theme-1);
    flex-direction: column;
    gap: 8px;
    align-items: center;
    text-align: center;
}

.dailyCast img {
    height: 100px;
    width: 100px;
}

.dailyCont > div > p:first-of-type {
    font-size: 1.2em;
}

.dailyCont > div:first-of-type > p:first-of-type {
    font-weight: bold;
}
.dailyTemp {
    font-size: 1.3em;
    margin-bottom: 0px;
}

.dailyCont > div > :first-child {
    margin-top: 10px;
}

.dailyCont > div > :last-child {
    margin-bottom: 10px;
}

.dailyCont > div > div {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: column;
}

/* https://coolors.co/palette/d8f3dc-b7e4c7-95d5b2-74c69d-52b788-40916c-2d6a4f-1b4332-081c15 */
